@model List<ShowCartProductViewModel>

<div dir="rtl" class="mtop">
    @if (Model != null)
    {
        <h1>سبد خرید من</h1>
        <hr>
        <div class="my-3 container">
            @foreach (var item in Model)
            {
                <div class="row p-2">
                    <a href="/Product/ShowProduct/@item.ProductId">
                        <div class="row">
                            <div class="col-md-4 col-12 col-sm-6 text-center">
                                <img src="/Resources/Pics/ProductThumbnail/@item.ThumbnailName" class="img-thumbnail"
                            alt="تصویر کالا">
                            </div>
                            <div class="col">
                                <h2 class="text-md-start text-center text-sm-center">@item.ProductName</h2>
                                <hr>
                                <h4 class="text-gray text-md-start text-center text-sm-center">@item.ProductPrice تومان</h4>
                                <h4 class="text-gray text-md-start text-center text-sm-center">@item.Amount @item.UnitOfProduct
                                </h4>
                            </div>
                        </div>
                    </a>
                </div>
                <hr>
            }
            <h2 class="text-md-start text-center text-sm-center">قیمت کل : @(ViewBag.SumOfPrice) تومان</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-sm-7 col-md-6 col-lg-4 col-xl-3">
                <a href="/Cart/Finalize" class="w-100 btn btn-warning">نهایی کردن خرید</a>
            </div>
        </div>
    }
    else
    {
        <h2 class="text-center">سبد خرید شما خالی است!!!</h2>
    }
</div>
